.composition {
    position: relative;

    &__photo {
        width: 60%;
        box-shadow: 0 1rem 2rem rgba($black, 0.25);
        border-radius: 2px;
        position: absolute;
        transition: all .3s ease-in-out;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 15%;
            top: 8rem;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 2rem 2.5rem rgba($black, 0.4);
            filter: contrast(1.1) saturate(1.1);
            z-index: 1;
        }
    
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
        opacity: .9;
    }
}