.popup {
    background-color: rgba(0, 0, 0, .9);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include absCenter;
        background-color: white;
        width: 75%;
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, .5);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .4s .2s;
        transform: translate(-50%, -50%) scale(.5);
    }
    &__left {
        width: calc(100% / 3);
        display: table-cell;
    }
    &__right {
        width: calc(100% / 3 * 2);
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid lighten($color-grey-dark-1, 20%);
    }
    &__img {
        display: block;
        width: 100%;
    }
    
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: inherit;
            position: absolute;
            line-height: 1;
            top: 2.5rem;
            right: 3rem;
            font-size: 3.2rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }
        &:hover {
            color: $medium-blue;
        }
    }
}

