// COLORS
$light-blue: #9bd9e0;
$medium-blue: #0a6b91;
$dark-blue: #064664;
$color-secondary: #1caf1c;
$grey: #59595a;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;
$white: #f1f1f1;
$black: #021013;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

